In [2]:
import pandas as pd

In [6]:
books_with_users = pd.read_csv("../Datasets/users/Books.csv")
books_without_users = pd.read_csv("../Datasets/BooksDataset.csv")

C:\Users\Ivans\AppData\Local\Temp\ipykernel_32512\2004526241.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_with_users = pd.read_csv("../Datasets/users/Books.csv")

In [7]:
books_with_users.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [8]:
books_without_users.head()

,Title,Authors,Description,Category,Publisher,Publish Date,Price
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32

In [10]:
books_with_users["Title"] = books_with_users["Book-Title"]

In [11]:
mergedDf= pd.merge(books_with_users, books_without_users, on="Title", how="inner")

In [12]:
mergedDf.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher_x,Image-URL-S,Image-URL-M,Image-URL-L,Title,Authors,Description,Category,Publisher_y,Publish Date,Price
0,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,Decision in Normandy,By Carlo D'Este,NaN,NaN,Konecky & Konecky Military Books,"Monday, May 1, 2000",Price Starting at $6.66
1,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,The Mummies of Urumchi,"By Barber, Elizabeth Wayland","A fascinating exploration of the mysterious, p...","Social Science , Archaeology",W W Norton & Co Inc,"Friday, January 1, 1999",Price Starting at $8.79
2,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,The Kitchen God's Wife,"By Tan, Amy","""Tan is one of the prime storytellers writing ...",NaN,Ivy Books,"Wednesday, April 1, 1992",Price Starting at $5.29
3,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,The Kitchen God's Wife,"By Tan, Amy",With the same narrative skills and evocative p...,"Fiction , Literary",Vintage,"Monday, November 1, 1993",Price Starting at $4.99
4,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,What If?: The World's Foremost Military Histor...,"By Cowley, Robert (EDT) and Ambrose, Stephen E...","Essays by respected military historians, inclu...","History , Military , Strategy",Berkley,"Friday, September 1, 2000",Price Starting at $5.29

In [13]:
mergedDf.shape

(37310, 15)

# 37310 records about same books